
.day-night-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .day-night-button {
        margin: 0 .5rem 0 0;
    }

    .day-night-text {
        margin: 0 2rem 0 0;
    }
}
