.search-input-wrapper {
  /* margin: 2rem 2rem;
  width: 300px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: 0px solid hsl(209, 23%, 22%);
  border-radius: 2px;

  .search-icon {
    margin-left: 2rem;
  }
  input {
    border: none;
    width: 200px;
    padding: 1rem 1rem;
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }
  ::placeholder {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
  }
}
