.search-input-wrapper {
  /* margin: 2rem 2rem;
  width: 300px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-dark-header);
  color: var(--color-darkmode);
  border: 0px solid var(--background-color-dark-header);
  border-radius: 2px;

  .search-icon {
    margin-left: 2rem;
  }

  input {
    border: none;
    width: 300px;
    padding: 1rem 1rem;
    background-color: var(--background-color-dark-header);
    color: var(--color-darkmode);
  }

  input:focus {
    background-color: none;
    outline: none;
  }

  ::placeholder {
    color: var(--color-darkmode);
    font-size: 1rem;
  }
}

.search-input-wrapper.light {
  background-color: var(--background-color-lightmode-header);
  color: var(--color-lightmode);
  border: 4px solid var(--background-color-lightmode-header);
  /*   box-shadow: 1px 2px var(--background-color-lightmode-header); */

  .search-icon.light {
    margin-left: 2rem;
  }

  input {
    border: none;
    width: 300px;
    padding: 1rem 1rem;
    background-color: var(--background-color-lightmode-header);
    color: var(--color-lightmode);
  }

  input:focus {
    background-color: none;
    outline: none;
  }

  ::placeholder {
    color: var(--color-lightmode);
    background-color: var(--background-color-lightmode-header);
    color: var(--color-lightmode);
  }
  ::placeholder {
    color: var(--color-lightmode);
    font-size: 1rem;
  }
}
