.search-input-wrapper {
  /* margin: 2rem 2rem;
  width: 300px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-dark-header);
  color: var(--color-darkmode);
  border: 0px solid var(--background-color-dark-header);
  border-radius: 2px;

  .search-icon {
    margin-left: 2rem;
  }
  input {
    border: none;
    width: 200px;
    padding: 1rem 1rem;
    background-color: var(--background-color-dark-header);
    color: var(--color-darkmode);
  }
  ::placeholder {
    color: var(--color-darkmode);
    font-size: 1rem;
  }
}

.search-input-wrapper.light {
  background-color: var(--background-color-light-header);
  color: var(--color-lightmode);
  border: 0px solid var(--background-color-light-header);

  input {
    border: none;
    width: 200px;
    padding: 1rem 1rem;
    background-color: var(--background-color-light-header);
    color: var(--color-darkmode);
  }
  ::placeholder {
    color: var(--color-lightmode);
    background-color: var(--background-color-light-header);
    color: var(--color-lightmode);
  }
  ::placeholder {
    color: var(--color-lightmode);
    font-size: 1rem;
  }
}
