.detailed-card-container {
  color: var(--color-darkmode);
  background-color: var(--background-color-dark-body);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .back-button-container {
    border: 2px solid var(--background-color-dark-header);
    background-color: var(--background-color-dark-header);
    border: 2px solid rgb(32, 44, 55, 0.7);
    margin: 3rem 0 1rem 3rem;
    width: 100px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }

    .back-button-text {
      margin-left: 1rem;
    }
  }

  .detailed-country-data-container {
    margin: 3rem 0 0rem 3rem;
    display: flex;
    flex-direction: row;

    .detailed-flag-container {
      width: 400px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .detailed-country-details-container {
      margin-left: 5rem;

      .detailed-country-name-container {
        font-weight: 700;
        margin: 2rem 0;
      }

      .detailed-country-details-columns-container {
        display: flex;
        flex-direction: row;
        margin: 3rem 0;

        .detailed-column1 {
        }

        .detailed-column2 {
          margin-left: 10rem;
        }
      }
      .detailed-country-border-countries-container {
        margin-top: 3rem;
      }
    }
  }
}

.detailed-card-container.light {
  color: var(--color-lightmode);
  background-color: var(--background-color-lightmode-body);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .back-button-container.light {
    border: 2px solid rgb(43, 57, 69, 0.1);
    background-color: var(--background-color-lightmode-header);
  }

  .detailed-country-data-container {
    .detailed-flag-container {
    }

    .detailed-country-details-container {
    }
  }
}

.border-container {
  display: flex;
  flex-direction: row;

  h3 {
    margin-right: 0.5rem;
  }

  .each-border {
    margin: 0 0.5rem 0 0rem;
    padding: 0 1rem;
    border-radius: 10%;
    border: 1px solid var(--background-color-dark-header);
    background-color: var(--background-color-dark-header);
  }
  .each-border-light {
    margin: 0 0.5rem 0 0rem;
    padding: 0 1rem;
    border-radius: 10%;
    border: 1px solid var(--background-color-lightmode-header);
    background-color: var(--background-color-lightmode-header);
  }
}
