.body-container {
  background-color:var(--background-color-dark-body);
  width: 100%;
  height: 100vh;
  margin: 0 0;
  display: block;
}

.body-wrapper {
  background-color:var(--background-color-dark-body);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .searchInput-container {
    margin: 2rem 2rem;
    width: 300px;
  }

  .regionFilter-container {
    margin: 2rem 2rem 0 0;
    width: 150px;
  }
}


.body-container.light {
  background-color:var(--background-color-light-body);
}

.body-wrapper.light {
  background-color:var(--background-color-light-body);
}

