.region-filter-container {
  background-color: var(--background-color-dark-header);
  width: 180px;
}

.region-filter-container.light {
  background-color: var(--background-color-lightmode-header);
}
