.region-filter-container {
  background-color: var(--background-color-dark-header);
  width: 180px;
}

.region-filter-container.light {
  background-color: var(--background-color-lightmode-header);
}

@media only screen and (max-width: 500px) {
  // media queries are written in the component jsx file.
}
